---
import Container from "@components/container.astro";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
import { Picture } from "astro:assets";
import logo from "assets/chinitas.svg";

const menuitems = [
  {
    title: "Inicio",
    path: "/",
  },
  {
    title: "Sobre nosotros",
    path: "#about",
  },
  {
    title: "Contacto",
    path: "#contact",
  }
  ];
---

<Container>
  <header class="absolute w-full h-[150px] top-0 left-0 mx-0 px-24 flex flex-col lg:flex-row justify-between items-center mb-5">
    <Astronav>
      <div class="flex w-full lg:w-auto place-items-center justify-between min-h-[150px]">
        <a href="/" class="text-lg">
          <div class="absolute pointer-events-none w-full h-full left-0 top-0 bg-gradient-to-b from-black/70 to-transparent" />
          <Picture
            src={logo}
            alt="Logo café chinitas"
            sizes="(max-width: 200px) 100vw, 100px"
            width={203}
            height={200}
            class="object-cover object-center"
          />
        </a>
        <div class="block lg:hidden right-0">
          <MenuIcon class="w-4 h-4 text-white" />
        </div>
      </div>
      <MenuItems class="hidden w-full p-4 rounded-lg lg:w-auto mt-2 lg:flex lg:mt-0 z-10 bg-black/80 lg:bg-transparent">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {
            menuitems.map((item, index) => (
              <>
                {item.children && (
                  <Dropdown
                    title={item.title}
                    children={item.children}
                    lastItem={index === menuitems.length - 1}
                  />
                )}

                {!item.children && (
                  <li>
                    <a
                      href={item.path}
                      class="flex lg:px-3 py-2 items-center text-white hover:text-gray-300">
                      <span> {item.title}</span>
                      {item.badge && (
                        <span class="ml-1 px-2 py-0.5 text-[10px] animate-pulse font-semibold uppercase text-white bg-indigo-600 rounded-full">
                          New
                        </span>
                      )}
                    </a>
                  </li>
                )}
              </>
            ))
          }
        </ul>
      </MenuItems>
    </Astronav>
  </header>
</Container>
